<p>booklist works!</p>
<!-- <a [routerLink]="['/stadium/abc']" routerLinkActive="router-link-active" >场馆abc</a>
<br>
method 2: a routerLink="/stadium/abc" -->
<a routerLink="/stadium/abc">场馆abc</a>
<br>
<a [routerLink]="['/stadium/123']" routerLinkActive="router-link-active" >场馆123</a>


<h1>共有<span style="color:orangered;font-weight: 800;">{{list.length}}</span>个springboot场馆</h1>

<div *ngFor="let item of list">
    <!-- <li *ngIf="item">{{item.city}}</li> -->
    {{item.id}}
    {{item}}
    <a  *ngIf="item">场馆:{{item.city}}</a>
</div>

<button  value="get transactions" (click)="getTrans()"> get transactions</button>


<h1 *ngFor="let item of trans">
    <li>{{item.user.name}}</li>
    <li>{{item.user.sex}}</li>
    <li>{{item.exam.location}}</li>
    <li>{{item.exam.time}}</li>
    <li>{{item.exam.regStatus}}</li>
    <li>{{item.status}}</li>
    
</h1>

|
<button  (click)="getTransByRxjs()"> get data by rxjs</button>

<h1>
    设置请求间隔
</h1>
<select [(ngModel)]="interval" >
        <option value={{item}} *ngFor="let item of optionList">间隔{{item}}秒请求数据</option>
</select>

<h1>
    设置请求地址
</h1>

<!-- <input [(ngModel)]="bindingURL"> -->
<select [(ngModel)]="bindingURL" >
    <option value={{item}} *ngFor="let item of web_list">{{item}}</option>
</select>




|
<button  (click)="getTransIntervalByRxjs()"> get data by rxjs for may times</button>



<br>

<button nz-button nzType="primary">Primary</button>

<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <th
          [nzSelections]="listOfSelection"
          [(nzChecked)]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.name }}</td>
        <td><input nz-input placeholder="修改年龄" value="{{ data.age }}"></td>
        <td>{{ data.address }}</td>
        <td><a href="{{data.id}}" >edit</a></td>
      </tr>
    </tbody>
  </nz-table>


  <!-- 弹出对话框相关 -->

  <button nz-button nzType="primary" (click)="createModal()">
    <span>String</span>
  </button>

  <button nz-button nzType="primary" (click)="createTplModal(tplTitle, tplContent, tplFooter)">
    <span>Template</span>
  </button>
  <ng-template #tplTitle>
    <span>Title Template</span>
  </ng-template>
  <ng-template #tplContent let-params let-ref="modalRef">
    <p>some contents...</p>
    <p>some contents...</p>
    <p>{{ params.value }}</p>
    <button nz-button (click)="ref.destroy()">Destroy</button>
  </ng-template>
  <ng-template #tplFooter>
    <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">
      Close after submit
    </button>
  </ng-template>

  <br /><br />

  <button nz-button nzType="primary" (click)="createComponentModal()">
    <span>Use Component</span>
  </button>

  <button nz-button nzType="primary" (click)="createCustomButtonModal()">Custom Button</button>

  <br /><br />

  <button nz-button nzType="primary" (click)="openAndCloseAll()">Open more modals then close all after 2s</button>
  <nz-modal [(nzVisible)]="htmlModalVisible" nzMask="false" [nzZIndex]="1001" nzTitle="Non-service html modal"
    >This is a non-service html modal</nz-modal
  >